form {

  margin: 50px 50px 50px 50px;
  position: relative;
  width: 600px;
  height: 630px;
  border-radius: 20px;
  padding: 30px;
  padding-left: 70px;
  box-sizing: border-box;
  background: rgb(243, 241, 241);
background-color: #152733;
  text-decoration: none;
  opacity: 0.9;
  color: #000;
  font-size: larger;
border: solid white 3px;

}


.s{
  margin-left: 120px;
  color: aliceblue;
}

h3{
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  margin-left: -30px;
}
a {
  text-decoration: none;
 
}

.loginPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  background-position: 100%;
  margin: 0px;
  min-height: 70%;
}

.footer {
  padding-top: 10px;
}

.top {
  padding-left: 300px;
  padding-top: 10px;
}

.container{
  height: 800px;
  background-color: #152733;
}
#m{
  color: aliceblue
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

 
.btn-warning{
  position: relative;
  padding: 11px 30px 11px 16px;
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  color: #020202;
  margin-left: 120px;
  background: linear-gradient(90deg,rgb(0, 0, 0),rgb(12,97,224));
  border: 0px;
  transition: 0.2s;
  overflow: hidden;
}


.btn-warning input[type = "file"]{
  cursor: pointer;
  position: absolute;
  left: 0%;
  top: 0%;
  transform: scale(3);
  opacity: 0;
  
}

.btn-warning:hover{
  background-color: #d9a400;
}










