<div class="container">
    <div class="loginPage">
        <div class="top"></div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h3 style="margin-top: 50px;">verify your email address to get OTP</h3>

            <div class="s">
                <i  class="fas fa-envelope fa-lg me-3 fa-fw"></i> </div> 
            <mat-form-field id="formfield" appearance="outline" style="margin-left: 50px; margin-top: 10px;">
                <input matInput type="email" placeholder="Enter your email address" name="email" formControlName="email"
                    >
                <mat-error *ngIf="email?.hasError('required')">
                    Email is required.
                </mat-error>
                <mat-error *ngIf="email?.hasError('email')">
                    Email valid email address.
                </mat-error>
            </mat-form-field>
           
            <br>
            <div>
                <button mat-raised-button type="submit" [disabled]="!profileForm.valid"
                    style="margin-left: 120px; background-color:#092745">Enter</button>
                  
            </div>
            <br><br>
            
        </form>

        <!-- <h1>{{data}}</h1> -->
        <div class="footer"></div>
    </div>
</div>


